<h1><%= @artist.name %></h1>

<h3> Bands </h3>
<div class = "field">
  <% @artist.bands.each do |band| %>
    <%= link_to band.name, band_url(band)%><br>
  <% end %>
</div>

<h3> Albums </h3>
<div class = "field">
  <% @artist.albums.each do |album| %>
    <%= link_to album.title, album_url(album)%><br>
  <% end %>
</div>


<p><%= link_to "Edit #{@artist.name}", edit_artist_url(@artist)%></p>